=====================================================================================
 C O P Y R I G H T
-------------------------------------------------------------------------------------
 Copyright (c) <YEAR> by <COMPANY>. All rights reserved.

 Author(s):
 - <YOUR NAME>, <YOUR COMPANY IF ANY> <ANY ADDITIONAL NOTICES>
=====================================================================================
