##
## =====================================================================================
##  C O P Y R I G H T
## -------------------------------------------------------------------------------------
##  Copyright (c) 2023 by Robert Bosch GmbH. All rights reserved.
##
##  Author(s):
##  - Markus Braun, :em engineering methods AG (contracted by Robert Bosch GmbH)
## =====================================================================================
##

name: QA

on:
  workflow_dispatch:

env:
  python-version: 3.9

jobs:
  qa:
    runs-on: ubuntu-latest

    steps:
    - name: "init: Checkout Code"
      uses: actions/checkout@v3
      with:
        submodules: false
        fetch-depth: 0

    - name: "init: Ensure Python Environment"
      uses: ./.github/actions/init
      with:
        python-version: 3.9

    - name: "test: Run Tests"
      run: |
        poetry run precommit run --all-files
